# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
qdrant_data/
.files/
.DS_Store
*.log
temp/
uploads/

# Distribution / packaging
dist/
build/
*.egg-info/
